/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: #333;
  clear: both;
  font-size: 18px;
  padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
  color: #999;
}

.footer-widgets input {
  border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: #fff;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
  background-color: #22a3d9;
}

.footer-widgets button:hover,
.footer-widgets input[type="button"]:hover,
.footer-widgets input[type="reset"]:hover,
.footer-widgets input[type="submit"]:hover,
.footer-widgets .button:hover {
  background-color: #fff;
  color: #333
}

.footer-widgets li {
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 31.623931623931625%;
}

.footer-widgets-1 {
  margin-right: 2.564102564102564%;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #333;
  font-size: 16px;
  padding: 60px 0;
  text-align: center;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #22a3d9;
    }

    &#footer-sponsor {
      border: 0;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-image: image-url( 'albtechsquare3.jpg' );
      background-position: center;
      background-size: contain;
      width:85px;
      height:84px;
      display:block;
      margin: 0 auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}
