
/* Header Mod
--------------------------------------------- */
body.home {

  header.site-header {
    background-color: transparent;

    nav.nav-primary {

      ul {
        background-color: transparent;

        li {

          a {
            color: #fff;
          }
        }
      }
    }

    &.scrolled {
      background-color: #6e9f3b;

      nav.nav-primary {

        ul {
          background-color: #fff;

          li {

            a {
              color: #333;
            }
          }
        }
      }
    }
  }


  .site-inner {
    padding-top:0;
  }
}



/* Home Intro
--------------------------------------------- */

.home-intro {
  color: #fff;
  height: 100vh;
  overflow: hidden;

  .wrap {
    margin-top:20vh;
    @include breakpoint( $brook ) {
      margin-top:35vh;
    }

    .widget_text {
      background: rgba(0,0,0,0.6);
      padding:2rem;
    }

    h4 {
      color: #fff;
      font-size: 30px;
      letter-spacing: 3px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    a.button {
      display: block;
      text-align: center;
    }
  }
}

/* Home Features
--------------------------------------------- */

.home-features {
  background-color: #f5f5f5;
  overflow: hidden;
  padding-bottom: 120px;
  padding-top: 120px;
  text-align: center;
}

.home-features .widget-title {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 80px;
}

.home-features h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.home-features .dashicons {
  font-size: 36px;
  height: 36px;
  margin-bottom: 20px;
  width: 36px;
}

.home-features .widget {
  @include breakpoint( $stream ) {
    width: 48.717948717948715%;
    float: left;
    margin-left: 2.564102564102564%;
  }
}

.home-features p {
  font-size: 20px;
}

.home-features section:last-child {
  margin-bottom: 0;
  margin-left: 0;
}

.home-features a.button {
  background-color: transparent;
  border: 1px solid #333;
  clear: both;
  color: #333;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: auto;
}

.home-features a.button:hover {
  background-color: #22a3d9;
  border: 1px solid #22a3d9;
  color: #fff;
}

/* Home Twitter
--------------------------------------------- */

.home-social {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 120px;
  padding-top: 120px;
  text-align: center;

  .wrap {

    .button,
    input[type="submit"] {
      margin:1rem auto;
      border: 1px solid #000;
      color:#000;
      clear:none;
      font-size:20px;
    }

    .widget_mc4wp_form_widget {


      .mc4wp-form-fields {


        p {
          margin: 1rem auto;
          padding:1rem 0;
          clear:both;
          @include breakpoint( $creek ) {
            width: 80%;
          }
          @include breakpoint( $river ) {
            width: 60%;
          }

          label {
            display: block;
            visibility: hidden;
          }

          input[type="email"] {
            @include breakpoint( $creek ) {
              width:70%;
              float:left;
            }

          }

          input[type="submit"] {
            @include breakpoint( $creek ) {
              margin:0;
              float:right;
            }
          }
        }
      }
    }
  }
}

.home-social .dashicons {
  font-size: 36px;
  height: 36px;
  margin-bottom: 20px;
  width: 36px;
}

.home-social .tweet-details {
  display: block;
  margin-top: 20px;
}

.home-social .tweet-details a {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.home-social .tweet-details a:hover {
  color: #22a3d9;
}
