/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #333;
  padding-bottom: 1rem;
  text-align: center;

  p {
    margin:0 0 1rem 0;
  }

  .title-area {
    @include breakpoint( $brook ) {
      width:33%;
      float:left;
    }

    .site-description,
    .site-title {
      font-family: Montserrat, sans-serif;
      line-height: 1;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .site-title {

      a {
        width:50%;
        display: block;
        margin: 0 auto;

        svg {
          width:100%;
          height:auto;
          margin:0 auto;
        }
      }
    }

    .site-description {
      color: #ccc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 3px;
    }
  }


  .weather-area {
    color:#ccc;
    margin-top:1.5rem;
    @include breakpoint( $brook ) {
      width:33%;
      float:left;

      canvas {
        float:left;
        margin:-1.5rem -3rem 0 3rem;
      }
    }

    span.dark-sky-metric {
      display: block;
    }
  }


  .river-area {
    color:#ccc;
    margin-top:1.5rem;
    @include breakpoint( $brook ) {
      width:33%;
      float:left;
    }

    span.river-metric {
      display: block;
    }
  }
}
