/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #6e9f3b;
  height: 50px;
  position: fixed;
  top:0;
  width: 100%;
  z-index:1;

  &.scrolled {

    .title-area {

      .site-title {
        @include breakpoint( $creek ) {
          width: 11%;
        }
        @include breakpoint( $stream ) {
          width: 15%;
        }
        @include breakpoint( $brook ) {
          width: 18%;
        }
      }
    }
  }

  .title-area {

    .site-title {
      position: absolute;
      top: -15px;
      left: 1rem;
      width: 20%;
      @include transition( width 300ms ease );

      a {

        svg {
          width:100%;
          height:auto;
          margin:0 auto;
        }
      }
    }

    .site-description {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 3px;
      text-align: right;
      width:40%;
      float:right;
      padding:0.5rem;
      margin:0;
    }
  }
}


body.admin-bar {

  header.site-header {
    top:32px;
  }
}
