/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #6e9f3b;
  height: 50px;
  position: fixed;
  top:0;
  width: 100%;

  .title-area {



    .site-title {
      position: absolute;
      top: -10px;
      left: 1rem;
      width: 20%;

      a {

        svg {
          width:100%;
          height:auto;
          margin:0 auto;
        }
      }
    }

    .site-description {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 3px;
      text-align: right;
      width:40%;
      float:right;
      padding:0.5rem;
      margin:0;
    }
  }
}
