/**
 ** Breakpoints
 ** http://breakpoint-sass.com/
 **
 ** Assumes min-width with only one value
 **
**/

// Max Width
$max-container-width: 70rem;

$river:  $max-container-width;
$creek:  60rem;
$stream: 40rem;
$brook:  20rem;
$small:  max-width $brook;
$large:  min-width $brook;
$hidpi:  min-resolution 1.5dppx;
